@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --font-size-14: 14px;
    --header_addres-padding: 10px;
    --header-line-heigth: 21px;
    --map-font-size-16: 16px
}

* {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 145px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 27.58621% 1fr;
}

.header_top {
    background-color: rgb(0, 0, 0);
}

.contentWidth, .contentWidth_footer {
    width: 1160px;
    margin: 0 auto;
}

.header_topWrapper, .header_botWrapper {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_nav {
    height: 100%;
    width: fit-content;
}

.header_burger {
    height: 100%;
}

#header_toogle {
    display: none;
}

.header_linkList {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.header_triangel {
    margin-left: 5px;
}

.header_links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Exo 2', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.header_links:hover, .footer_link:hover, .footer_topLink:hover {
    color: rgb(250, 153, 7);
    transition: 0.3s ease-in-out;
}

.header_item {
    height: 100%;
}

.header_item + .header_item {
    margin-left: 35px;
}

.header_subLinkList {
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: max-content;
    position: absolute;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    opacity: 0;
    transition: 0.3s ease-in-out;
    padding: 0 5px;
    visibility: hidden;
}

.header_subLinkList > .header_item {
    margin-left: 0;
    height: 40px;
    width: 100%;
}

.header_item:hover > .header_subLinkList {
    transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
    z-index: 5;
}

.user {
    display: flex;
    align-items: center;
}

.user hr {
    height: 100%;
    margin: 0 20px;
}

.user_link {
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 12px;
    transition: 0.3s linear;
}

.user_link img {
    display: block;
    padding-right: 15px;
}

.user_link:hover {
    color: rgb(250, 153, 7);
    transition: 0.3s linear;
}

.header_bot {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.07);
}

.header_botWrapper {

    margin-top: 20px;
}

.header_homeLink {
    width: 307px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 32.57329% auto 61.88925%;

}

.header_logo {
    display: block;
    height: max-content;
}

.header_description {
    grid-column: 3/4;
    font-size: var(--font-size-14);
    height: fit-content;
    line-height: var(--header-line-heigth);
    vertical-align: top;
}

.header_description, .header_addres, .header_time, .header_feedback {
    position: relative;
    top: -5px;
    height: fit-content;
}

.header_addres {
    grid-column: 3/4;
}

.header_addres+.header_addres {
    grid-column: 5/6;
}

.header_addres img {
    display: inline-block;
    position: relative;
    top: -17px;
}

.header_text, .header_time {
    display: inline-block;
    font-size: var(--font-size-14);
    width: fit-content;
    height: fit-content;
    margin-left: var(--header_addres-padding);
    line-height: var(--header-line-heigth);
}

.header_label {
    color: rgb(143, 155, 171);
}

.city {
    color: rgb(255, 0, 0);
}

.header_time {
    margin-left: 0;
    grid-column: 7/8;
}

.header_feedback {
    grid-column: 9/10;
}

.header_number, .header_whatsapp, .header_callback {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 100%;
    display: block;
    text-align: right;
    font-size: var(--font-size-14);
}

.header_whatsapp, .header_callback {
    margin-top: 3px;
}

.header_number {
    font-size: 18px;
    font-weight: 500;
}

.header_whatsapp, .header_number {
    display: flex;
    justify-content: space-between;
}

.header_whatsapp img {
    max-width: 100%;
    max-height: 100%;
}

.header_whatsappText {
    display: inline-block;
}

.header_whatsapp:hover > .header_whatsappText,
.header_callback:hover, .header_number:hover,
.feedback_link:hover > .feedback_numberText {
    color:rgb(250, 153, 7);
    transition: 0.1s linear;
}

.header_callback {
    text-decoration: underline;
    color: rgb(35, 82, 124);
}

.banner {
    margin-top: 80px;
}

.banner_wrapper {
    width: 100%;
    height: auto;
}

.banner_wrapper img {
    max-width: 100%;
    height: auto;
}

.summary {
    margin: 33px auto 75px auto;
    max-width: 1160px;
}

.summary_wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 29.22% repeat(2, 1fr 29.22%);
}

.summary_item:nth-child(2) {
    grid-column: 3/4;
}

.summary_item:nth-child(3) {
    grid-column: 5/6;
}

.summary_item {
    display: flex;
    justify-content: space-between;
}

.summary_image {
    display: inline-block;
    width: 8.26%;
}

.summary_image img {
    max-width: 100%;
}

.summary_content {
    display: inline-block;
    font-size: var(--map-font-size-16);
    width: 82.6%;
}

.summary_header {
    margin-bottom: 10px;
}

.services_wrapper {
    display: flex;
    justify-content: space-between;
}

.services_item {
    height: 255px;
    width: 48.275%;
    background-image: url(../images/Desktop/install_glass.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    box-shadow: -7px 4px 12px -4px rgba(34, 60, 80, 0.2);;
}

.services_item:last-child {
    background-image: url(../images/Desktop/repair_glass.png);
}

.services_content {
    max-width: 260px;
    height: fit-content;
    margin: 29px 0 0 50px;
}

.services_item:last-child .services_content {
    max-width: 300px;
}

.services_header {
    font-size: 24px;
    margin-bottom: 14px;
}

.services_paragraph {
    font-size: 16px;
    margin-bottom: 33px;
    line-height: 22px;
}

.services_link {
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(90, 161, 225);
    width: 77%;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services_link::before {
    content: "";
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 153, 7);
    transition: 0.2s ease-in-out;
}

.services_link:hover::before {
    transform: scaleY(1);
    transition: 0.2s ease-in-out;
}

.services_link:hover  .services_linkText {
    color: rgb(0, 0, 0);
    transition: 0.2s linear;
}

.services_linkText {
    z-index: 3;
    transition: 0.2s linear;
}

.glasses {
    margin-top: 69px;
    margin-bottom: 70px;
}

.glasses_header {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 36px;
}

.glasses_select {
    font-size: 14px;
    padding: 4px 0 3px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 190px;
    border: 1px solid #B4B4B4;
    background-color: #EEEEEE;
    display: inline-block;
    cursor: pointer;
}

.glasses_select + .glasses_select {
    margin-left: 10px;
}

.glasses_select:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
}

.glasses_select::placeholder {
    color: rgb(0, 0, 0);
}

.glasses_select:focus::placeholder {
    color: transparent;
}

.glasses_submit {
    position: relative;
    margin-left: 50px;
    width: 120px;
    height: 28px;
    color: rgb(255, 255, 255);
    background-color: rgb(90, 161, 225);
    border: none;
    cursor: pointer;
}

.glasses_submit::before, .glasses_showmore::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(250, 153, 7);
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.glasses_submit::after, .glasses_showmore::after {
    content: "Подобрать";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.glasses_submit:hover::before, .glasses_showmore:hover::before {
    transform: scaleY(1);
    transition: 0.2s ease-in-out;
}

.glasses_submit:hover::after, .glasses_showmore:hover::after {
    transition: 0.2s ease-in-out;
    color: rgb(0, 0, 0);
    opacity: 1;
    z-index: 3;
}

.glasses_submit:hover .glasses_textSubmit {
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
}

.glasses_textSubmit {
    z-index: 3 ;
    transition: 0.2s ease-in-out;
    color: rgb(255, 255, 255);
}

.glasses_grid {
    display: grid;
    grid-template-columns: repeat(9, 110px);
    grid-template-rows: repeat(5, 100px);
    grid-row-gap: 20px;
    grid-column-gap: 21px;
    margin-top: 40px;
}

.glasses_model {
    width: 100%;
    justify-self: center;
    box-sizing: border-box;
    border: 1px solid #B4B4B4;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.2s ease-in-out;
}

.glasses_model:hover {
    box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.2);;
    background-color: rgba(212, 151, 57, 0.35);
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

.glasses_modelLabel, .glasses_modelLogo {
    text-align: center;
    margin-top: 6px;
}

#showmore {
    display: none;
}

.glasses_showmore {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
    background-color: rgb(90, 161, 225);
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
}

.glasses_showmore::after {
    content: "Показать еще";
}

#showmore + label ~ div {
    display: none;
    transform-origin: top;
    transition: 0.3s ease-in-out;
}

#showmore:checked+label~div {
    display: grid;
    animation: showmore 0.3s ease-in-out;
}

#showmore:checked + label {
    display: none;
}

@keyframes showmore {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}

.glasses_gridSmall {
    margin-top: 20px;
    grid-template-rows: repeat(2, 100px);
}

.reitings {
    height: auto;
}

.reitings_heading {
    font-size: 24px;
}

.reitings_wrapper {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}

.reitings_blocks {
    width: 260px;
    height: 120px;

    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
}

.reitings_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    height: calc(100% - 40px);
}

.reitings_logo {
    width: fit-content;
}

.reitings_foto img {
    max-width: 100%;
    width: 100%;
}

.reitings_value {
    width: fit-content;
    display: flex;
    margin: -6px auto 0 auto;
}

.reitings_star {
    background-color: rgb(250, 153, 7);
    width: 17px;
    height: 17px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star5_yandex {
    background: linear-gradient(to right, rgb(250, 153, 7) 40%, rgb(237, 237, 237) 40%);
}

.star5_2gis {
    background: linear-gradient(to right, rgb(250, 153, 7) 20%, rgb(237, 237, 237) 20%);
}

.star5_google {
    background: linear-gradient(to right, rgb(250, 153, 7) 40%, rgb(237, 237, 237) 40%);
}

.star5_flamp {
    background: linear-gradient(to right, rgb(250, 153, 7) 20%, rgb(237, 237, 237) 20%);
}

.reitings_value-number {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-left: 7px;
}

.feedback {
    background-color: rgb(51, 51, 51);
    margin-top: 80px;
    padding-top: 33px;
    padding-bottom: 40px;
    height: 250px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.feedback_wrapper {
    width: fit-content;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.feedback_item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.feedback_application {
    max-width: 350px;
}

.feedback_header {
    font-size: 24px;
}

.feedback_paragraph {
    font-size: 16px;
}

.feedback_note {
    font-size: 12px;
    margin-top: 12px;
}

.feedback_form {
    height: 40px;
    display: grid;
    grid-template-columns: 57.14% 1fr;
    grid-template-rows: 1fr;
}

.feedback_input {
    outline: none;
    border: none;
    box-sizing: border-box;
}

.feedback_submit {
    background-color: rgb(90, 161, 225);
    color: white;
}

.feedback_phone{
    padding-left: 16.5px;
    border: 2px solid  rgb(255, 255, 255);
}

.feedback_phone:invalid:not(:placeholder-shown) {
    border-color: rgb(255, 0, 0);
}

.feedback_phone:valid:not(:placeholder-shown) {
    border-color: seagreen;
}

.feedback_phone::placeholder {
    color: rgb(180, 180, 180);
}

.feedback_item + .feedback_item {
    margin-left: 90px;
}

.feedback_tel {
    max-width: 294px;
}

.feedback_tel .feedback_header {
    line-height: 31px;
}

.feedback_link {
    text-decoration: none;
    display: flex;
    align-items:flex-end;
}

.feedback_link:first-child {
    margin-bottom: 20px;
}

.feedback_numberText {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-left: 17px;
    vertical-align: bottom;
    transition: 0.1s linear;
}

.feedback_numberWhatsapp {
    font-size: 16px;
}

.feedback_arrow {
    position: absolute;
    right: 10px;
    top: 43px;
}

.feedback_submit {
    cursor: pointer;
    transition: 0.1s linear;
}

.feedback_submit:hover {
    color: rgb(250, 153, 7);
    transition: 0.1s linear;
}

.feedback_submit:active {
    color: rgb(0, 0, 0);
    background-color: rgb(250, 153, 7);
    transition: 0.1s linear;
}

.map {
    max-width: 1440px;
    width: 100%;
    height: 550px;
    margin: 80px auto 0 auto;
    position: relative;
}

.map_advt {
    width: 540px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 63px;
    left:85px;
}

.map_content {
    margin-left: 7.42%;
    margin-right: 16.66666%;
    margin-top: 5.55555%;
    margin-bottom: 8.148%;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 44px;
}

.map_header {
    font-size: var(--map-font-size-16);
    font-weight: 700;
    margin-bottom: 20px;
    width: fit-content;
}

.map_link {
    font-size: var(--map-font-size-16);
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.map_link img {
    margin-right: 17px;
    height: 24px;
}

.map_link + .map_link {
    margin-top: 20px;
}

.map_mail {
    display: inline-block;
    width: fit-content;
}

.map_number {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    line-height: 25px;
}

.map_number + .map_number {
    margin-top: 5px;
    margin-bottom: 0;
}

.map_bookingCall {
    font-size: 14px;
}

.map_paragraph {
    font-size:var(--map-font-size-16);
    line-height: 22px;
}

.map_city {
    font-weight: 700;
    color: #23527C;
}

.map_yandex {
    width: 100%;
    height: 550px;
}


.footer {
    width: 100vw;
    height: 260px;
    background-color: rgb(51, 51, 51);
}

.footer_wrapper {
    height: 100%;
    padding: 40px 0 30px 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 150px 150px 167px 133px 140px 160px 116px;
    grid-template-rows: 1fr 27px 30px;
    color: rgb(255, 255, 255);
}

.footer_catalog {
    grid-column: 3/4;
}

.footer_services {
    grid-column: 5/6;
}

.footer_info {
    grid-column: 7/8;
}

.footer_law {
    grid-column: 1/8;
    grid-row: 3/4;
    max-width: 635px;
    color: rgb(180, 180, 180);
}

.footer_logo img {
    height: 54px;
    width: auto;
}

.footer_logo a {
    display: block;
    width: fit-content;
    height: fit-content;
}

.footer_paragraph, .footer_confidentiality, .footer_law {
    font-size: 10px;
    line-height: 15px;
}

.footer_confidentiality {
    color: rgb(255, 255, 255);
}

.footer_paragraph {
    margin: 15px 0 18px 0;
}

.footer_topLink, .footer_link {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
}

.footer_linkList {
    list-style: none;
}

.footer_topLink {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22.5px;
    margin-bottom: 15px;
}

.footer_linkListItem {
    font-size: 12px;
    line-height: 14.5px;
}

.footer_linkListItem + .footer_linkListItem {
    margin-top: 8px;
}


/* ===========   MEDIA   =========== */

@media (max-width: 1440px) {
    :root {
        --map-font-size-16: 1.11111vw;
    }

    .map_advt {
        left: 5vw;
        width: 37.5vw;
        height: 29.86vw;
    }

    .map_content {
        grid-gap: 3.055556vw;
    }

    .map_header {
        margin-bottom: 1.38889vw;
    }

    .map {
        height: fit-content;
    }

    .map_link img {
        height: 1.66667vw;
    }

    .map_link + .map_link {
        margin-top: 1.38889vw;
    }

    .map_number {
        font-size: 1.25vw;
        line-height: 1.736111vw;
    }

    .map_number + .map_number {
        margin-top: 0.347222vw;
    }

    .map_bookingCall {
        font-size: 0.97222vw;
    }

    .map_paragraph {
        line-height: 1.527778vw;
    }

    .map_yandex {
        height: 38.2vw;
    }
}

@media (max-width: 1265px) {
    .contentWidth {
        width: 91.6996vw;
    }

    .glasses_grid {
        width: 100%;
        height: auto;
        grid-template-columns: repeat(9, 9.48%);
        grid-template-rows: repeat(5, 7.9vw);
        grid-gap: 1.58vw;
    }

    .glasses_gridSmall {
        grid-template-rows: repeat(2, 7.9vw);
    }

    .glasses_modelLogo, .glasses_modelLabel {
        margin-top: 0.47vw;
        font-size: 1.265vw;
    }

    .glasses_modelLogo img {
        width: 45.45%;
        height: auto;
    }

    .reitings_wrapper{
        justify-content: center;
    }

    .services_content {
        width: 20.55vw;
    }

    .services_item:last-child .services_content {
        width: 23.72vw;
    }

    .services_item {
        height: 20.1581vw;
    }

    .services_header {
        font-size: 1.9vw;
        margin-bottom: 1.1vw;
    }

    .services_paragraph {
        font-size: 1.26vw;
        line-height: 1.73vw;
        margin-bottom: 2.61vw;
    }

    .services_link {
        font-size: 1.26vw;
        height: 3.162vw;
    }

    .map {
        width: 100vw;
        min-height: 300px;
    }

    .footer_wrapper {
        width: fit-content;
        margin-left: 4.15vw;
    }
}

@media (max-width: 1199px) {
    :root {
        --font-size-14: 1.13vw;
        --header_addres-padding: 0.83333vw;
        --header-line-heigth: 1.75vw;
    }

    .header_addres img {
        width: 11%;
    }

    .header_number {
        font-size: 1.5vw;
    }

    .header_homeLink {
        width: 33vw;
    }

    .header_whatsapp img {
        max-width: 100%;
        width: 9.52%;
    }
}

@media (max-width: 1109px) {
    .footer_wrapper {
        width: 91.6vw;
        margin: 0 auto;
        grid-template-columns: 150px 1fr 167px 1fr 140px 1fr 116px;
    }
}

@media (max-width: 1070px) {
    .glasses_select {
        font-size: 1.31vw;
        padding: 0.37vw 0 0.28vw 0.93vw;
        width: 17.757vw;
    }

    .glasses_select + .glasses_select {
        margin-left: 0.93vw;
    }

    .glasses_grid {
        margin-top: 3.74vw;
    }

    .glasses_gridSmall {
        margin-top: 1.87vw;
    }

    .glasses_submit {
        margin-left: 4.673vw;
        width: 11.21vw;
        height: 2.43vw;
        font-size: 1.31vw;
    }

    .glasses_showmore {
        width: 18.69vw;
        height: 3.74vw;
        margin-top: 3.74vw;
        font-size: 1.5vw;
    }
}

@media (max-width: 860px) {
    .feedback_wrapper {
        width: 85.35vw;
    }

    .feedback_item + .feedback_item {
        margin-left: auto;
    }
}

@media (max-width: 826px) {
    .header_item + .header_item, .user {
        margin-left: 4.216867vw;
    }

    .user hr {
        margin: 0 2.41vw;
    }

    .header_links {
        font-size: 1.35vw;
    }

    .header_item + .header_item {
        margin-left: 4vw;
    }

    .header_subLinkList > .header_item {
        margin-left: 0;
    }

    .user_link img {
        padding-right: 1.8vw;
    }
}


@media (max-width: 768px) {
    .contentWidth, .contentWidth_footer {
        width: 620px;
    }

    .banner {
        margin-top: 68px;
    }

    .reitings_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 48.3871%);
        gap: 20px;
        justify-content: unset;
    }

    .reitings_blocks {
        width: 100%;
    }

    .header_addres+.header_addres, .header_description {
        display: none;
    }

    .header_homeLink {
        display: block;
        width: fit-content;
    }

    :root {
        --font-size-14: 12px;
        --header-line-heigth: 16.84px;
        --header_addres-padding: 0;
        --footer-grid-gap: 80px;
    }

    .header_number {
        font-size: 16px;
    }

    .header_addres img {
        display: none;
    }

    .header_links {
        font-size: 11px;
    }

    .header_item + .header_item {
        margin-left: 20px;
    }

    .user {
        margin-left: 0;
    }

    .basket {
        display: none;
    }

    .user_link img {
        padding-right: 8px;
    }

    .user_item:last-child img {
        padding-right: 0;
    }

    .summary_wrapper {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 22px 3.55%;
    }

    .summary_item:nth-child(2) {
        grid-column: 2/3;
    }

    .summary_item:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .summary_item {
        justify-content: unset;
    }

    .summary_content {
        font-size: 14px;
        margin-left: 15px;
    }

    .services_wrapper {
        flex-direction: column;
    }

    .services_item {
        width: 100%;
        height: 220px;
    }

    .services_content {
        width: 250px;
    }

    .services_item:first-child {
        margin-bottom: 40px;
    }

    .services_item:last-child .services_content {
        width: 250px;
    }

    .services_header {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    .services_paragraph {
        font-size: 14px;
        line-height: 17.5px;
        margin-bottom: 19px;
    }

    .services_link {
        font-size: 16px;
        width: 200px;
        height: 40px;
    }

    .glasses_header {
        font-size: 2.6vw;
        margin-bottom: 3.39vw;
        line-height: 3.125vw;
    }

    .glasses_select {
        width: 23.44vw;
        height: 3.65vw;
        font-size: 1.5625vw;
    }

    .glasses_select + .glasses_select {
        margin-left: 2.6vw;
    }

    .glasses_select:nth-child(4) {
        margin-left: 0;
        margin-top: 2.6vw;
    }

    .glasses_submit {
        width: 15.625vw;
        height: 3.65vw;
        margin-left: 2.6vw;
        font-size: 1.82vw;
    }

    .reitings_wrapper {
        margin-top: 20px;
    }

    .user hr {
        margin: 0 15px;
    }

    .feedback {
        height: fit-content;
    }

    .feedback_wrapper {
        flex-direction: column;
        width: fit-content;
        margin-left: 80px;
    }

    .feedback_item + .feedback_item {
        margin-left: 0;
    }

    .feedback_application {
        height: auto;
    }

    .feedback_paragraph {
        margin-top: 10px;
        margin-bottom: 27px;
    }

    .feedback_item {
        justify-content: unset;
    }

    .feedback_tel {
        max-width: 399px;
        margin-top: 32px;
    }

    .feedback_header {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
    }

    .feedback_link:first-child {
        margin-top: 26px;
    }

    .feedback_arrow {
        width: 30px;
        height: auto;
        right: 35px;
        transform: rotate(20deg);
    }

    .map_advt {
        position: static;
        left: 0;
        top: 0;
        width: fit-content;
        margin: 35px auto 37px auto;
        height: fit-content;
    }

    .map_content {
        margin: 0;
        grid-gap: 51px;
        grid-template-columns: 199px 140px;
    }

    .map_header {
        margin-bottom: 15px;
    }

    .map_header, .map_link, .map_bookingCall, .map_paragraph {
        font-size: 14px;
    }

    .map_link img {
        height: 20px;
    }

    .map_number {
        font-size: 16px;
        line-height: 21px;
    }

    .map_paragraph {
        line-height: 17.5px;
    }

    .map_city {
        font-size: 16px;
    }

    .map_yandex {
        height: 300px;
    }

    .footer {
        height: fit-content;
    }

    .footer_wrapper {
        grid-template-columns: 1fr var(--footer-grid-gap) 1fr var(--footer-grid-gap) 1fr;
        grid-template-rows: repeat(2, 150px);
        grid-row-gap: 36px;
    }

    .footer_about {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .footer_law {
        grid-column: 3/8;
        grid-row: 2/3;
        max-width: 332px;
    }

    .footer_paragraph, .footer_confidentiality {
        font-size: 8px;
        line-height: 10.5px;
    }

    .footer_paragraph {
        margin: 10px 0 0 0;
    }

    .footer_catalog {
        grid-column: 1/2;
    }

    .footer_services {
        grid-column: 3/4;
    }

    .footer_info {
        grid-column: 5/6;
    }

    .footer_topLink {
        font-size: 14px;
        line-height: 20px;
    }

    .footer_linkListItem {
        font-size: 10px;
        line-height: 12px;
    }
}

@media (max-width: 678px) {
    .contentWidth, .contentWidth_footer {
        width: 91.45vw;
    }

    .header_logo {
        width: 14.75vw;
    }

    .header_logo img {
        width: 100%;
        max-width: 100%;
    }

    :root {
        --font-size-14: 1.7966vw;
        --footer-grid-gap: 11.7vw;
    }

    .header_number {
        font-size: 2.36vw;
    }

    .header_item + .header_item {
        margin-left: 2.95vw;
    }

    .header_links, .user_link {
        font-size: 1.6224vw;
    }

    .user_link img {
        width: 100%;
        height: auto;
        max-width: 2.95vw;
    }

    .user_link:first-child img {
        padding-left: 1.18vw;
    }

    .reitings_wrapper {
        gap: 2.95vw;
    }

    .footer_topLink {
        font-size: var(--font-size-14);
    }

    .footer_linkListItem {
        font-size: 1.47vw;
    }

    .footer_linkListItem + .footer_linkListItem {
        margin-top: 1.18vw;
    }

    .footer_paragraph, .footer_confidentiality {
        font-size: 1.18vw;
        line-height: 1.55vw;
    }

    .footer_paragraph {
        margin-top: 1.47vw;
    }

    .footer_law {
        font-size: 1.47vw;
        line-height: 2.21vw;
    }
}

@media (max-width: 663px) {
    .summary_wrapper {
        grid-row-gap: 3.3vw;
    }

    .summary_content {
        font-size: 2.1vw;
        margin-left: 2.1vw;
    }

    .summary_image {
        width: 3.6vw;
    }

    .services_item:first-child {
        margin-bottom: 6vw;
    }

    .services_item {
       height: 33.1825vw;
    }

    .services_content {
        margin: 4.38vw 0 0 7.54vw;
    }

    .services_content, .services_item:last-child .services_content {
        width: 37.7vw;
    }

    .services_header {
        font-size: 3.017vw;
        line-height: 3.62vw;
        margin-bottom: 1.81vw;
    }

    .services_paragraph {
        font-size: 2.11vw;
        line-height: 2.64vw;
        margin-bottom: 2.87vw;
    }

    .services_link {
        font-size: 2.41vw;
        width: 30.17vw;
        height: 6.033vw;
    }
}

@media (max-width: 578px) {
    .feedback_wrapper {
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .map_content {
        grid-gap: 10vw;
    }
}

@media (max-width: 414px) {
    #header_toogle {
        display: block;
        opacity: 0;
    }

    .contentWidth {
        width: 80vw;
    }

    .header {
        height: 103px;
        grid-template-rows: 30.83% 1fr;
    }

    .header_time,  .header_feedbackTriangle,
    .header_callback, .header_whatsapp img {
        display: none;
    }

    .header_number {
        justify-content:space-evenly;
        font-size: 12px;
    }

    .header_whatsapp {
        text-decoration: underline;
        margin-top: 9px;
    }

    .user_link {
        font-size: 10px;
    }

    .user_link img {
        max-width: 16px;
    }

    .city {
        font-weight: 600 ;
    }

    .header_homeLink, .header_botWrapper {
        height: fit-content;
    }

    :root {
        --font-size-14: 10px;
        --header-line-heigth: 12px;
    }

    .header_button {
        display: flex;
        align-items: center;
        position: relative;
        width: 20px;
        top: -16px;
        height: 100%;
        cursor: pointer;
        z-index: 1;
    }

    .header_button > span, .header_button > span::after, .header_button > span::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(255, 255, 255);
        transition: 0.3s ease-in-out;
    }

    .header_button > span::before {
        content: "";
        top: -5px;
    }

    .header_button > span::after {
        content: "";
        top: 5px;
    }

    .header_linkList {
        flex-direction: column;
        z-index: 10;
        position: fixed;
        left: 0;
        margin-top: -13px;
        width: 100%;
        height: fit-content;
        background-color: rgb(143, 155, 171);
        align-items: baseline;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
        transform: scaleY(0);
        transform-origin: 50% 0%;
    }

    .header_item + .header_item {
        margin-left: 0;
    }

    .header_links {
        font-size: 16px;
        height: 40px;
        padding-left: 10%;
        width: 100%;
        transition: 0.3s ease-in-out;
    }

    .header_item {
        width: 100%;
        transition: 0.3s ease-in-out;
    }

    .header_links:hover {
        background-color: coral;
        color: rgb(0, 0, 0);
        transition: 0.3ms ease-in-out;
    }

    .header_triangel {
        display: none;
    }

    .header_subLinkList {
        position: static;
        transform: rotateX(0deg);
        opacity: 1;
        margin-top: 0;
        background-color: rgb(184, 183, 178);
        padding: 0;
    }

    .header_item, .header_links, .header_subLinkList{
        transition: 0s;
    }

    .header_subLinkList .header_links {
        font-size: 12px;
    }

    #header_toogle:checked ~ .header_button > span {
        transform: rotate(45deg);
        transition: 0.3s ease-in-out;
    }

    #header_toogle:checked ~ .header_button > span::after {
        top: -11.5px;
        left: -2.5px;
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
        height: 20px;
        border-radius: 50%;
        background-color: transparent;
        border: 3px solid rgb(255, 255, 255);
        transition: 0.3s ease-in-out;
    }

    #header_toogle:checked ~ .header_button > span::before {
        top: 0;
        transform: rotate(90deg);
        transition: 0.3s ease-in-out;
    }

    #header_toogle:checked ~ .header_linkList,
    #header_toogle:checked ~ .header_linkList > .header_item > .header_subLinkList {
        visibility: visible;
        opacity: 1;
        transition: 0.3s ease-in-out;
        transform: scaleY(1);
    }

    .banner {
        margin-top: 50px;
    }

    .summary_wrapper {
        width: fit-content;
        grid-template-columns: 1fr;
        grid-row-gap: 22px
    }

    .summary_item:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .summary_item:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .summary_content {
        font-size: 14px;
        line-height: 17.5px;
    }

    .summary_header {
        margin-bottom: 5px;
        line-height: 18px;
    }

    .summary_image {
        width: 22px;
        margin-top: 3px;
    }

    .services_item {
        height: 224px;
        background-image: url(../images/Mobile/install_glass_small.png);
    }

    .services_item:first-child {
        margin-bottom: 50px;
    }

    .services_item:last-child {
        background-image: url(../images/Mobile/repair_glass_small.png);
    }

    .services_content, .services_item:last-child .services_content {
        width: 190px;
    }

    .services_header {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 14px;
        font-weight: 400;
    }

    .services_paragraph {
        font-size: 14px;
        line-height: 17.5px;
        margin-bottom: 13px;
    }

    .services_link {
        font-size: 14px;
        width: 100%;
        height: 40px;
    }

    .feedback {
        padding-bottom: 45px;
    }

    .feedback_wrapper {
        margin: 0 10%;
    }

    .feedback_form {
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 40px);
        grid-row-gap: 7px;
    }

    .feedback_paragraph {
        font-size: 14px;
        line-height: 17.5px;
        max-width: 220px;
    }

    .feedback_note {
        font-size: 10px;
    }

    .feedback_numberText {
        font-size: 16px;
    }

    .feedback_link:first-child {
        margin-top: 24px;
    }

    .feedback_arrow {
        transform: rotate(0);
        right: 0;
    }

    .map {
       height: fit-content;
    }

    .map_yandex {
        height: 400px;
    }

    .map_advt {
        height: fit-content;
        margin: 50px auto 47px 35px;
    }

    .map_content {
        grid-template-rows: 101px 76px 87px;
        grid-template-columns: 139.12px 130px;
        grid-gap: 22px;
    }

    .map_write {
        grid-column: 1/3;
    }

    .map_mail {
        max-width: 160px;
    }

    .map_call {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .map_number {
        width: fit-content;
        display: inline-block;
    }

    .map_number + .map_number {
        margin-top: 0;
        margin-left: 20px;
    }

    .map_bookingCall {
        display: block;
        margin-top: 5px;
    }

    .map_shedule, .map_office {
        grid-row: 3/4;
    }

    .map_shedule {
        grid-column: 2/3;
    }

    .map_office {
        grid-column: 1/2;
    }

    .footer_wrapper {
        padding: 45px 0;
        grid-template-columns: 150px 140px;
        grid-template-rows: 116px 97px 48px;
        grid-gap: 27px 10px;
        width: fit-content;
    }

    .footer_catalog {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .footer_services {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .footer_info {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .footer_about {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .footer_law {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .footer_topLink {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .footer_linkListItem {
        font-size: 10px;
        line-height: 12px;
    }

    .footer_paragraph, .footer_confidentiality {
        font-size: 8px;
        line-height: 10.5px;
    }

    .footer_paragraph {
        margin-top: 2px;
    }

    .footer_law {
        font-size: 8px;
        line-height: 12px;
        max-width: 300px;
    }
}

@media (max-width: 375px) {
    .summary_content {
        font-size: 3.73vw;
        line-height: 4.67vw;
    }

    .summary_header {
        line-height: 4.8vw;
        margin-bottom: 1.3333vw;
    }

    .summary_image {
        width: 5.87vw;
    }

    .summary_wrapper {
        grid-row-gap: 5.87vw;
    }

    .services_item {
        height: 59.7vw;
    }

    .services_item:first-child {
        margin-bottom: 13.33333vw;
    }

    .services_content, .services_item:last-child .services_content {
        width: 50.67vw;
    }

    .services_header {
        font-size: 5.333vw;
        line-height: 6.4vw;
        margin-bottom: 3.73vw;
    }

    .services_paragraph {
        font-size: 3.73vw;
        line-height: 4.6666vw;
        margin-bottom: 3.7vw;
    }

    .services_link {
        height: 10.67vw;
        font-size: 3.73vw;
    }
}

@media (max-width: 361px) {
    .map_advt {
        margin-left: auto;
        margin-right: auto;
    }
}
