@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --font-size-14: 14px;
    --header_addres-padding: 10px;
    --header-line-heigth: 21px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
}

.header {
    width: 100%;
    height: 145px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 27.58621% 1fr;
}

.header_top {
    background-color: rgb(0, 0, 0);
}

.contentWidth {
    width: 1160px;
    margin: 0 auto;
}

.header_topWrapper, .header_botWrapper {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_nav {
    height: 100%;
    width: fit-content;
}

.header_burger {
    height: 100%;
}

#header_toogle {
    display: none;
}

.header_linkList {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.header_triangel {
    margin-left: 5px;
}

.header_links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Exo 2', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.header_links:hover {
    color: rgb(250, 153, 7);
    transition: 0.3s ease-in-out;
}

.header_item {
    height: 100%;
}

.header_item + .header_item {
    margin-left: 35px;
}

.header_subLinkList {
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: max-content;
    position: absolute;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    opacity: 0;
    transition: 0.3s ease-in-out;
    padding: 0 5px;
    visibility: hidden;
}

.header_subLinkList > .header_item {
    margin-left: 0;
    height: 40px;
    width: 100%;
}

.header_item:hover > .header_subLinkList {
    transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
    z-index: 5;
}

.user {
    display: flex;
    align-items: center;
}

.user hr {
    height: 100%;
    margin: 0 20px;
}

.user_link {
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 12px;
    transition: 0.3s linear;
}

.user_link img {
    display: block;
    padding-right: 15px;
}

.user_link:hover {
    color: rgb(250, 153, 7);
    transition: 0.3s linear;
}

.header_bot {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.07);
}

.header_botWrapper {

    margin-top: 20px;
}

.header_homeLink {
    width: 307px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 32.57329% auto 61.88925%;

}

.header_logo {
    display: block;
    height: max-content;
}

.header_description {
    grid-column: 3/4;
    font-size: var(--font-size-14);
    height: fit-content;
    line-height: var(--header-line-heigth);
    vertical-align: top;
}

.header_description, .header_addres, .header_time, .header_feedback {
    position: relative;
    top: -5px;
    height: fit-content;
}

.header_addres {
    grid-column: 3/4;
}

.header_addres+.header_addres {
    grid-column: 5/6;
}

.header_addres img {
    display: inline-block;
    position: relative;
    top: -17px;
}

.header_text, .header_time {
    display: inline-block;
    font-size: var(--font-size-14);
    width: fit-content;
    height: fit-content;
    margin-left: var(--header_addres-padding);
    line-height: var(--header-line-heigth);
}

.header_label {
    color: rgb(143, 155, 171);
}

.city {
    color: rgb(255, 0, 0);
}

.header_time {
    margin-left: 0;
    grid-column: 7/8;
}

.header_feedback {
    grid-column: 9/10;
}

.header_number, .header_whatsapp, .header_callback {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 100%;
    display: block;
    text-align: right;
    font-size: var(--font-size-14);
}

.header_whatsapp, .header_callback {
    margin-top: 3px;
}

.header_number {
    font-size: 18px;
    font-weight: 500;
}

.header_whatsapp, .header_number {
    display: flex;
    justify-content: space-between;
}

.header_whatsapp img {
    max-width: 100%;
    max-height: 100%;
}

.header_whatsappText {
    display: inline-block;
}

.header_whatsapp:hover > .header_whatsappText,
.header_callback:hover, .header_number:hover,
.feedback_link:hover > .feedback_numberText {
    color:rgb(250, 153, 7);
    transition: 0.1s linear;
}

.header_callback {
    text-decoration: underline;
    color: rgb(35, 82, 124);
}

.reitings {
    height: auto;
}

.reitings_heading {
    font-size: 24px;
}

.reitings_wrapper {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}

.reitings_blocks {
    width: 260px;
    height: 120px;

    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
}

.reitings_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    height: calc(100% - 40px);
}

.reitings_logo {
    width: fit-content;
}

.reitings_foto img {
    max-width: 100%;
    width: 100%;
}

.reitings_value {
    width: fit-content;
    display: flex;
    margin: -6px auto 0 auto;
}

.reitings_star {
    background-color: rgb(250, 153, 7);
    width: 17px;
    height: 17px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star5_yandex {
    background: linear-gradient(to right, rgb(250, 153, 7) 40%, rgb(237, 237, 237) 40%);
}

.star5_2gis {
    background: linear-gradient(to right, rgb(250, 153, 7) 20%, rgb(237, 237, 237) 20%);
}

.star5_google {
    background: linear-gradient(to right, rgb(250, 153, 7) 40%, rgb(237, 237, 237) 40%);
}

.star5_flamp {
    background: linear-gradient(to right, rgb(250, 153, 7) 20%, rgb(237, 237, 237) 20%);
}

.reitings_value-number {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-left: 7px;
}

.feedback {
    background-color: rgb(51, 51, 51);
    margin-top: 80px;
    padding-top: 33px;
    padding-bottom: 40px;
    height: 250px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.feedback_wrapper {
    width: fit-content;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.feedback_item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.feedback_application {
    max-width: 350px;
}

.feedback_header {
    font-size: 24px;
}

.feedback_paragraph {
    font-size: 16px;
}

.feedback_note {
    font-size: 12px;
    margin-top: 12px;
}

.feedback_form {
    height: 40px;
    display: grid;
    grid-template-columns: 57.14% 1fr;
    grid-template-rows: 1fr;
}

.feedback_input {
    outline: none;
    border: none;
    box-sizing: border-box;
}

.feedback_submit {
    background-color: rgb(90, 161, 225);
    color: white;
}

.feedback_phone{
    padding-left: 16.5px;
    border: 2px solid  rgb(255, 255, 255);
}

.feedback_phone:invalid:not(:placeholder-shown) {
    border-color: rgb(255, 0, 0);
}

.feedback_phone:valid:not(:placeholder-shown) {
    border-color: seagreen;
}

.feedback_phone::placeholder {
    color: rgb(180, 180, 180);
}

.feedback_item + .feedback_item {
    margin-left: 90px;
}

.feedback_tel {
    max-width: 294px;
}

.feedback_tel .feedback_header {
    line-height: 31px;
}

.feedback_link {
    text-decoration: none;
    display: flex;
    align-items:flex-end;
}

.feedback_link:first-child {
    margin-bottom: 20px;
}

.feedback_numberText {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-left: 17px;
    vertical-align: bottom;
    transition: 0.1s linear;
}

.feedback_numberWhatsapp {
    font-size: 16px;
}

.feedback_arrow {
    position: absolute;
    right: 10px;
    top: 43px;
}

.feedback_submit {
    cursor: pointer;
    transition: 0.1s linear;
}

.feedback_submit:hover {
    color: rgb(250, 153, 7);
    transition: 0.1s linear;
}

.feedback_submit:active {
    color: rgb(0, 0, 0);
    background-color: rgb(250, 153, 7);
    transition: 0.1s linear;
}

.map {
    max-width: 1440px;
    width: 100%;
    height: 550px;
    margin: 80px auto 0 auto;
}

/* ===========   MEDIA   =========== */

@media (max-width: 1265px) {
    .contentWidth {
        width: 91.6996vw;
    }

    .reitings_wrapper{
        justify-content: center;
    }

    .map {
        width: 100vw;
        height: 43.48vw;
        min-height: 300px;
    }
}

@media (max-width: 1199px) {
    :root {
        --font-size-14: 1.13vw;
        --header_addres-padding: 0.83333vw;
        --header-line-heigth: 1.75vw;
    }

    .header_addres img {
        width: 11%;
    }

    .header_number {
        font-size: 1.5vw;
    }

    .header_homeLink {
        width: 33vw;
    }

    .header_whatsapp img {
        max-width: 100%;
        width: 9.52%;
    }
}

@media (max-width: 860px) {
    .feedback_wrapper {
        width: 85.35vw;
    }

    .feedback_item + .feedback_item {
        margin-left: auto;
    }
}

@media (max-width: 826px) {
    .header_item + .header_item, .user {
        margin-left: 4.216867vw;
    }

    .user hr {
        margin: 0 2.41vw;
    }

    .header_links {
        font-size: 1.35vw;
    }

    .header_item + .header_item {
        margin-left: 4vw;
    }

    .header_subLinkList > .header_item {
        margin-left: 0;
    }

    .user_link img {
        padding-right: 1.8vw;
    }
}


@media (max-width: 768px) {
    .contentWidth {
        width: 620px;
    }

    .reitings_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 48.3871%);
        gap: 20px;
        justify-content: unset;
    }

    .reitings_blocks {
        width: 100%;
    }

    .header_addres+.header_addres, .header_description {
        display: none;
    }

    .header_homeLink {
        display: block;
        width: fit-content;
    }

    :root {
        --font-size-14: 12px;
        --header-line-heigth: 16.84px;
        --header_addres-padding: 0;
    }

    .header_number {
        font-size: 16px;
    }

    .header_addres img {
        display: none;
    }

    .header_links {
        font-size: 11px;
    }

    .header_item + .header_item {
        margin-left: 20px;
    }

    .user {
        margin-left: 0;
    }

    .basket {
        display: none;
    }

    .user_link img {
        padding-right: 8px;
    }

    .user_item:last-child img {
        padding-right: 0;
    }

    .reitings_wrapper {
        margin-top: 20px;
    }

    .user hr {
        margin: 0 15px;
    }

    .feedback {
        height: fit-content;
    }

    .feedback_wrapper {
        flex-direction: column;
        width: fit-content;
        margin-left: 80px;
    }

    .feedback_item + .feedback_item {
        margin-left: 0;
    }

    .feedback_application {
        height: auto;
    }

    .feedback_paragraph {
        margin-top: 10px;
        margin-bottom: 27px;
    }

    .feedback_item {
        justify-content: unset;
    }

    .feedback_tel {
        max-width: 399px;
        margin-top: 32px;
    }

    .feedback_header {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
    }

    .feedback_link:first-child {
        margin-top: 26px;
    }

    .feedback_arrow {
        width: 30px;
        height: auto;
        right: 35px;
        transform: rotate(20deg);
    }
}

@media (max-width: 678px) {
    .contentWidth {
        width: 91.45vw;
    }

    .header_logo {
        width: 14.75vw;
    }

    .header_logo img {
        width: 100%;
        max-width: 100%;
    }

    :root {
        --font-size-14: 1.7966vw;
    }

    .header_number {
        font-size: 2.36vw;
    }

    .header_item + .header_item {
        margin-left: 2.95vw;
    }

    .header_links, .user_link {
        font-size: 1.6224vw;
    }

    .user_link img {
        width: 100%;
        height: auto;
        max-width: 2.95vw;
    }

    .user_link:first-child img {
        padding-left: 1.18vw;
    }

    .reitings_wrapper {
        gap: 2.95vw;
    }
}

@media (max-width: 414px) {
    #header_toogle {
        display: block;
        opacity: 0;
    }

    .contentWidth {
        width: 80%;
    }

    .header {
        height: 103px;
        grid-template-rows: 30.83% 1fr;
    }

    .header_time,  .header_feedbackTriangle,
    .header_callback, .header_whatsapp img {
        display: none;
    }

    .header_number {
        justify-content:space-evenly;
        font-size: 12px;
    }

    .header_whatsapp {
        text-decoration: underline;
        margin-top: 9px;
    }

    .user_link {
        font-size: 10px;
    }

    .user_link img {
        max-width: 16px;
    }

    .city {
        font-weight: 600 ;
    }

    .header_homeLink, .header_botWrapper {
        height: fit-content;
    }

    :root {
        --font-size-14: 10px;
        --header-line-heigth: 12px;
    }

    .header_button {
        display: flex;
        align-items: center;
        position: relative;
        width: 20px;
        top: -16px;
        height: 100%;
        cursor: pointer;
        z-index: 1;
    }

    .header_button > span, .header_button > span::after, .header_button > span::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(255, 255, 255);
        transition: 0.3s ease-in-out;
    }

    .header_button > span::before {
        content: "";
        top: -5px;
    }

    .header_button > span::after {
        content: "";
        top: 5px;
    }

    .header_linkList {
        flex-direction: column;
        z-index: 10;
        position: fixed;
        left: 0;
        margin-top: -13px;
        width: 100%;
        height: fit-content;
        background-color: rgb(143, 155, 171);
        align-items: baseline;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
        transform: scaleY(0);
        transform-origin: 50% 0%;
    }

    .header_item + .header_item {
        margin-left: 0;
    }

    .header_links {
        font-size: 16px;
        height: 40px;
        padding-left: 10%;
        width: 100%;
        transition: 0.3s ease-in-out;
    }

    .header_item {
        width: 100%;
        transition: 0.3s ease-in-out;
    }

    .header_links:hover {
        background-color: coral;
        color: rgb(0, 0, 0);
        transition: 0.3ms ease-in-out;
    }

    .header_triangel {
        display: none;
    }

    .header_subLinkList {
        position: static;
        transform: rotateX(0deg);
        opacity: 1;
        margin-top: 0;
        background-color: rgb(184, 183, 178);
        padding: 0;
    }

    .header_item, .header_links, .header_subLinkList{
        transition: 0s;
    }

    .header_subLinkList .header_links {
        font-size: 12px;
    }

    #header_toogle:checked ~ .header_button > span {
        transform: rotate(45deg);
        transition: 0.3s ease-in-out;
    }

    #header_toogle:checked ~ .header_button > span::after {
        top: -11.5px;
        left: -2.5px;
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
        height: 20px;
        border-radius: 50%;
        background-color: transparent;
        border: 3px solid rgb(255, 255, 255);
        transition: 0.3s ease-in-out;
    }

    #header_toogle:checked ~ .header_button > span::before {
        top: 0;
        transform: rotate(90deg);
        transition: 0.3s ease-in-out;
    }

    #header_toogle:checked ~ .header_linkList,
    #header_toogle:checked ~ .header_linkList > .header_item > .header_subLinkList {
        visibility: visible;
        opacity: 1;
        transition: 0.3s ease-in-out;
        transform: scaleY(1);
    }

    .map {
        height: 400px;
    }
}
